<br />
<br />
<div class="dropdown clearfix pull-right">
  <button class="btn btn-primary dropdown-toggle" tyep="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expand="true">Filter<span class="caret"></span></button>
  <ul class="dropdown-menu" aria-labelledby="dropdownDivider">
    <li >
      <%= link_to("Lower Bound", jobs_path(:order => "by_lower_bound")) %>
    </li>
    <li>
      <%= link_to("Upper Bound", jobs_path(:order => "by_upper_bound")) %>
    </li>
    <li>
      <%= link_to("Posted Time", jobs_path) %>
    </li>
  </ul>
</div>
<%= render "jobs/category" %>

<div class="text-center">
<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
</div>
