<div class="category-page col-md-4 col-md-offset-2">
<h3 class="text-center">Eidt a Job</h3>

<%= simple_form_for [:admin, @job] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :wage_upper_bound, :label => "Upper Bound" %>
  <%= f.input :wage_lower_bound, :label => "Lower Bound" %>
  <%= f.input :category %>
  <%= f.input :city %>
  <%= f.input :contact_email %>
  <%= f.input :is_hidden %>

  <%= f.submit "Submit", class: "btn btn-primary"%>
<% end %>
</div>
