<div class="category-page col-md-10 col-md-offset-1">

<table class="table table-boldered text-center">
  <thead>
    <tr>
      <td>Title</td>
      <td>Resumes</td>
      <td>Lower Bound</td>
      <td>Upper Bound</td>
      <td>Posted Time</td>
      <td>Manage Job</td>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <td>
        <%= render_job_status(job) %>
        <%= link_to(job.title, admin_job_path(job)) %>
      </td>
      <td><%= link_to(job.resumes.count, admin_job_resumes_path(job))%></td>
      <td><%= job.wage_lower_bound %></td>
      <td><%= job.wage_upper_bound %></td>
      <td>
        <%= local_time_ago(job.created_at) %>
      </td>
      <td>
        <%= link_to("Edit", edit_admin_job_path(job)) %>
        |<%= link_to("Delete", admin_job_path(job), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
        |<% if job.is_hidden %>
        <%= link_to("Public", publish_admin_job_path(job), :method => :post) %>
        <% else %>
        <%= link_to("Hide", hide_admin_job_path(job), :method => :post) %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
</div>
<div class="text-center">
<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
</div>
